[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
datasets = "*"
seaborn = "*"
polars = "*"
altair = "*"
vl-convert-python = "*"
numpy = "==1.26.4"
torchmetrics = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.11"
